:root{
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030C;
    --font-princial: 'Inter';
    --botao-azul-efeito: #3787e9;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-princial);
    font-size: 1rem;
    font-weight: 400;
}


.principal{
    background-image: url("../assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    

}
.conteiner{
    height: 100vh;
    display:grid;
    grid-template-columns: 50% 50%;

}
.conteiner__caixa{
    margin: 0 6em;
}
.conteiner__imagem{
    margin: 1em 0 2em 0;
    width: 100%;
}
.conteiner__titulo{
    font-size: 1.75rem;
    font-weight: 700;
}
.conteiner__botao{
    background-color: var(--botao-azul);
    border-radius: 0.31rem;
    text-decoration: none;
    padding: 1em;
    color: var(--branco-principal);
    display:block;
    margin-bottom: 1em;
}
.conteiner__botao:hover{
    background-color:var(--botao-azul-efeito);
}

.botao__secundario{
    background-color: transparent;
    border: 0.125rem solid var(--branco-principal);
}
.botao__secundario:hover{
    background-color: transparent;
    border: 0.125rem solid var(--botao-azul-efeito);
}
.conteiner__aviso{
    font-size: 0.75rem;
    color:var(--cinza-secundario);
}

.secundario{
    align-items: center;
    margin: 0 10em;
}
.secundario__imagem{
    width: 80%;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 3rem;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}
.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.conteiner_descricao{
    padding: 2em;
}
.dispositivos{
    text-align: center;
}
.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.dispositivos__titulo{
    font-size:3rem;
    color:var(--branco-principal);
}
.lista__item{
    font-size:2rem;
    color:var(--branco-principal);
}

.rodape{
    text-align: center;
    margin: 10em 0 5em 0;

}
.rodape__lista{
    display:flex;
    justify-content: center;
    list-style-type: none;
    margin: 2em 1em;
    font-size:1rem;
    
}
.lista__link__botao{
    text-decoration: none;
    color:var(--branco-principal);
    margin: 0.5em;

}
.lista__link__botao:hover{
    color:var(--botao-azul-efeito);
}
.rodape__texto{
    font-size: 0.87rem;
    color:var(--cinza-secundario);
    margin: 1em;
}


@media (max-width: 1000px){
    body{
        font-size: 0.55rem;
    }
    .conteiner{
        height: 100vh;
        display: block;
        margin:  2em 0;  
    
    }
    .conteiner__imagem{
        width: 75%;
    }

    .conteiner__caixa{
        margin:  8em 8em;
    }
    
    
    .conteiner__titulo{
        font-size: 1rem;
    }
    .conteiner__aviso{
        font-size: 0.45rem;
        color:var(--cinza-secundario);
    }
    .secundario{
        height: 100vh;
        margin: 0 8em;
    }
    .dispositivos__lista{
        flex-wrap:wrap;
        margin: 5em 5em;
        
    }
    .descricao__titulo{
        font-size: 1.5rem;
       
    }
    .dispositivos__titulo{
        font-size:1.5rem;
    }
    .lista__item{
        font-size:1rem;
    }
    .rodape__lista{
        flex-wrap:wrap;
        gap:3%;
    }
    .rodape__texto{
        font-size: 0.35rem;
    }
    .lista__item{
        font-size:1rem;
    }
    
}
